[submodule "Engine/vendor/GLFW"]
	path = Engine/vendor/GLFW
	url = https://github.com/NiceNickname/glfw
[submodule "Engine/vendor/glm"]
	path = Engine/vendor/glm
	url = https://github.com/NiceNickname/glm
[submodule "Engine/vendor/imgui"]
	path = Engine/vendor/imgui
	url = https://github.com/NiceNickname/imgui
[submodule "Engine/vendor/spdlog"]
	path = Engine/vendor/spdlog
	url = https://github.com/gabime/spdlog
